* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: helvetica;
}
body{
    background-color: #0E0E0E;
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem;
}
img{
    height: 60px;
}
.nav-list{
    list-style: none;
}
.nav-list li{
    display: inline-block;
    padding: 0rem 0.9rem;
}
.nav-list li a{
    border-radius: 1rem;
    text-decoration: none;
    display: block;
    padding: 1rem 1.5rem;
    color: #fff;
    background-color: #5A2E98;
}
.nav-list li a:hover{
    background-color: #7a57ac;
}


/* main */

main{
    max-width: 950px;
    margin: 5rem auto;
}
/* Conteudo principal */


.content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    text-align: center;
    width: 600px;
}
.logo {
    margin-bottom: 2.188rem;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
form input{
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 0.625rem 0rem 0rem 0.625rem;
    padding: 0rem 1rem;
    background-color: #1C1C1C;
    color: #fff;
}
button{
    outline: none;
    border: none;
    padding: 0rem 1.5rem;
    border-radius: 0rem 0.625rem 0.625rem 0rem;
    background-color: #5A2E98;
    cursor: pointer;
    color: #fff;
}

button:hover{
    background-color: #7a57ac;
}

::placeholder{
    text-transform: uppercase;
}

.social, .tw, .home{
    margin-top: 1.3rem;
    text-align: center;
}
.text{
    color: #fff;
}

.tw a{
    text-decoration: none;
    color: #A885B3;
}

.home a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #5A2E98;
    padding: 1rem 4rem;
    border-radius: 0.625rem;
    transition: all 0.3s ease-in-out;
}
.home a:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px #9e71dc;
    /* background-color: #7a57ac; */
}



.paragrafos{
    color: #fff;
    margin-top: 3.125rem;
}
.paragrafos p{
    margin-top: 0.625rem;
    text-indent: 0.625rem;
}
.paragrafos h3{
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.563rem;
}

@media only screen and (max-width: 975px){
    main{
        margin: 5rem 2rem;
    }
    .box{
        max-width: 470px;
    }
}